@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.5;
  background: no-repeat url("../assets/background.jpg") center center;
  background-size: cover;
  height: 90dvh;
  margin: 0;
  padding: 2em;
}

* {
  border-radius: 10px;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h2,
  button {
    text-transform: uppercase;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
  }

  /* TO DO: add hover and active */
  button {
    height: 40px;
    width: 40px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(242, 241, 240);
    border: none;
    border-radius: 50%;
    background-color: rgba(64, 61, 59, 0.6);
    margin-left: 10px;
  }

  button:hover {
    background-color: rgba(89, 85, 81, 0.6);
  }

  button:active {
    background-color: rgba(89, 85, 81, 0.4);
  }
}

ul {
  list-style: none;
  padding: 0;
}

.expense-item {
  background-color: rgba(89, 85, 81, 0.2);
  padding: 1em;

  div {
    display: flex;
    justify-content: space-between;

    span:last-child {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.expense-item:not(:last-child) {
  margin-bottom: 1em;
}

/* TO DO: Adjust responsive for mobile and desktop */
@media (min-width: 768px) {
  body {
    padding-inline: 6em;
    font-size: 1.3rem;
    height: 70dvh;
  }

  header button {
    height: 50px;
    width: 50px;
    font-size: 40px;
  }
}
