@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

body {
  --box-shadow: 3px 0px 7px -3px rgba(89, 85, 81, 0.8);
  --inset-box-shadow: inset 0px 0px 20px 3px rgba(149, 147, 143, 0.94);
  --btn-size: 40px;
  --btn-font: 30px;
  --btn-background: rgba(64, 61, 59, 0.6);
  --btn-hover: rgba(89, 85, 81, 0.6);
  --btn-active: rgba(89, 85, 81, 0.4);
  --list-background: rgba(140, 140, 140, 0.4);

  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.5;
  background: no-repeat url("assets/background.jpg") center center;
  background-size: cover;
  height: 100dvh;
  margin: 0;
  padding: 2em;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 32px;
  }

  h1,
  button {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
  }

  button {
    height: var(--btn-size);
    min-width: var(--btn-size);
    font-size: var(--btn-font);
    font-weight: 400;
    color: rgb(242, 241, 240);
    border: none;
    border-radius: 50%;
    background-color: var(--btn-background);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    margin-left: 10px;
  }

  button:hover {
    background-color: var(--btn-hover);
  }

  button:active {
    background-color: var(--btn-active);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  font-size: 1.5em;
  padding: 1em;
  background-color: var(--list-background);
  border-radius: 10px;
}

.total-expense {
  display: flex;
  align-items: center;
  justify-content: center;

  button.filter {
    border: none;
    background-color: transparent;

    img {
      width: 20px;
      height: 20px;
      margin: 5px 10px 0;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  width: 280px;
  background-color: var(--list-background);
  height: 370px;
  border-radius: 10px;
  padding: 2em;
  overflow: auto;
}

.expense-item {
  background-color: rgba(89, 85, 81, 0.2);
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: var(--box-shadow), var(--inset-box-shadow);
  box-shadow: var(--box-shadow), var(--inset-box-shadow);

  &.luxury {
    --inset-box-shadow: none;

    color: #bfbfbd;
    background-color: #404040;
  }

  div {
    display: flex;
    justify-content: space-between;

    span:last-child {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.expense-item:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  body {
    padding-inline: 6em;
    font-size: 1.3rem;
    height: 70dvh;
  }

  header button {
    --btn-size: 50px;
    --btn-font: 40px;
  }

  ul {
    width: 350px;
    height: 320px;
  }
}
