@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans");

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  background: no-repeat url("../assets/background.jpg") center center;
  background-size: cover;
  height: 80dvh;
  margin: 0;
  padding: 3em;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.expense-item {
  display: flex;
}
